<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#" style="display: flex; align-items: center;">
            <f:image src="EXT:bw_tetris_tmp/Resources/Public/Icons/tetris.png" maxHeight="40" class="mr-2" />
            <span><f:render partial="Data/Name" /></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <f:cObject typoscriptObjectPath="lib.nav" />
            <form class="form-inline my-2 my-lg-0" method="get">
                <input class="form-control mr-sm-2" name="id" type="search" placeholder="Suche" aria-label="Suche">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Suche</button>
            </form>
        </div>
    </div>
</nav>
<f:render partial="Navigation/User" />