<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div>
        <div style="display: flex; align-items: center; justify-content: center; font-weight: bold; font-size: 2em;" class="mb-5">
            <f:image src="EXT:bw_tetris_tmp/Resources/Public/Icons/tetris.png" maxHeight="60" class="mr-4" />
            <span><f:render partial="Data/Name" /></span>
        </div>
        <div style="display: flex; align-items: center; justify-content: center; font-weight: bold; font-size: 2em;" class="mb-2">
            <f:image src="EXT:bw_tetris_tmp/Resources/Public/Images/Maulwurf/hase.png" maxHeight="185" class="mr-5" />
            <f:image src="EXT:bw_tetris_tmp/Resources/Public/Images/Maulwurf/maulwurf.png" maxHeight="185" class="mr-5" />
            <f:image src="EXT:bw_tetris_tmp/Resources/Public/Images/Maulwurf/maus.png" maxHeight="185" />
        </div>
        <f:format.raw>{content_main}</f:format.raw>
    </div>
</div>
